<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>assets-from</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="my-2 mx-4 flex gap-2">
    @for (field of assets; track $index) {
    <ion-button
      (click)="formServiceService.onSelectChange(field.key)"
      expand="block"
      fill="clear"
      class="text-white bg-green-800"
      shape="round"
    >
      {{field.name}}
    </ion-button>
    }
  </div>

  @if (formServiceService.selectedField ) {
  <app-form></app-form>

  <ion-row>
    <ion-col>
      <ion-button
        expand="full"
        type="submit"
        [disabled]="formServiceService.form.invalid"
        >Submit</ion-button
      >
    </ion-col>
  </ion-row>
  }
</ion-content>
