<form [formGroup]="form" class="mx-4 my-10">
  <!-- <ng-container *ngFor="let field of fields; let i = index"> -->
  @for (field of formSchema; track $index) {
  <!-- input -->
  @if (field.type === 'input') {
  <mat-form-field appearance="outline" style="width: 100%" class="my-2">
    <mat-label>{{ field.label }}</mat-label>
    <input
      matInput
      [type]="field.inputType || 'text'"
      [placeholder]="field.label"
      formControlName="{{ field.name }}"
      [required]="field.required ?? false"
    />

    @if (form.get(field.name)?.hasError('required') &&
    form.get(field.name)?.touched) {
    <mat-error>
      {{ field.message || (field.label + ' is required!!!') }}
    </mat-error>
    }
  </mat-form-field>
  }

  <!-- dropdown -->
  <!-- <ng-container @If="field.type === 'dropdown'"> -->
  @if (field.type === 'dropdown') {
  <mat-form-field appearance="outline" style="width: 100%" class="my-2">
    <mat-label>{{ field.label }}</mat-label>
    <mat-select
      formControlName="{{ field.name }}"
      [required]="field.required ?? false"
      (selectionChange)="handleChange($event, field, $index)"
    >
      @for (option of field.options; let idx = $index; track idx) {
      <mat-option [value]="option"> {{ option }} </mat-option>
      }
    </mat-select>
    @if(form.get(field.name)?.hasError('required') &&
    form.get(field.name)?.touched){
    <mat-error>
      {{ field.message || (field.label + ' is required!!!') }}
    </mat-error>
    }
  </mat-form-field>
  }

  <!-- radio -->
  <!-- <ng-container *ngIf="field.type === 'radio'"> -->
  @if(field.type === 'radio'){
  <mat-radio-group
    formControlName="{{ field.name }}"
    (change)="handleChange($event, field, $index)"
    style="width: 100%"
    class="my-2"
  >
    <mat-label>{{ field.label }}</mat-label>
    @for (option of field.options; let idx = $index; track idx) {
    <mat-radio-button [value]="option"> {{ option }} </mat-radio-button>
    } @if(form.get(field.name)?.hasError('required') &&
    form.get(field.name)?.touched){
    <mat-error>
      {{ field.message || (field.label + ' is required!!!') }}
    </mat-error>
    }
  </mat-radio-group>
  }

  <!-- toggle -->
  @if (field.type === 'toggle') {
  <mat-slide-toggle
    formControlName="{{ field.name }}"
    [checked]="form.get(field.name)?.value ?? false"
    (change)="onToggleChange($event, field)"
    style="width: 100%"
    class="my-2"
  >
    {{ field.label }}
  </mat-slide-toggle>

  @if (form.get(field.name)?.hasError('required') &&
  form.get(field.name)?.touched) {
  <mat-error>
    {{ field.message || (field.label + ' is required!!!') }}
  </mat-error>
  } }

  <!-- conditional  -->
  @if (field.condition && form.get(field.condition.fieldName)?.value ===
  field.condition.value) { @for (condField of field.condition.fields; track
  $index) {
  <!-- input -->
  @if (condField.type === 'input') {
  <mat-form-field appearance="outline" style="width: 100%" class="my-2">
    <mat-label>{{ condField.label }}</mat-label>
    <input
      matInput
      [type]="condField.inputType || 'text'"
      [placeholder]="condField.label"
      formControlName="{{ condField.name }}"
      [required]="condField.required ?? false"
    />
    @if (form.get(condField.name)?.hasError('required') &&
    form.get(condField.name)?.touched) {
    <mat-error>
      {{ condField.message || (condField.label + ' is required!!!') }}
    </mat-error>
    }
  </mat-form-field>
  }

  <!-- dropdown -->
  @if (condField.type === 'dropdown') {
  <mat-form-field appearance="outline" style="width: 100%" class="my-2">
    <mat-label>{{ condField.label }}</mat-label>
    <mat-select
      formControlName="{{ condField.name }}"
      [required]="condField.required ?? false"
    >
      @for (option of condField.options; let idx=$index; track idx) {
      <mat-option [value]="option"> {{ option }} </mat-option>
      }
    </mat-select>
    @if (form.get(condField.name)?.hasError('required') &&
    form.get(condField.name)?.touched) {
    <mat-error>
      {{ condField.message || (condField.label + ' is required!!!') }}
    </mat-error>
    }
  </mat-form-field>
  }

  <!-- radio -->
  @if (condField.type === 'radio') {

  <mat-radio-group
    formControlName="{{ condField.name }}"
    style="width: 100%"
    class="my-2"
  >
    <mat-label>{{condField.label}}</mat-label>
    @for (option of condField.options; let idx=$index; track idx) {
    <mat-radio-button [value]="option"> {{ option }} </mat-radio-button>
    } @if(form.get(condField.name)?.hasError('required') &&
    form.get(condField.name)?.touched){
    <mat-error>
      {{ condField.message || (condField.label + ' is required!!!') }}
    </mat-error>
    }
  </mat-radio-group>
  }

  <!-- toggle -->
  @if (condField.type === 'toggle') {
  <mat-slide-toggle
    formControlName="{{ condField.name }}"
    [checked]="form.get(condField.name)?.value"
    style="width: 100%"
    class="my-2"
  >
    {{ condField.label }}
  </mat-slide-toggle>
  @if (form.get(condField.name)?.hasError('required') &&
  form.get(condField.name)?.touched) {
  <mat-error>
    {{ condField.message || (condField.label + ' is required!!!') }}
  </mat-error>
  } } } } }

  <button
    (click)="onSubmit()"
    class="my-2 px-2 py-4 rounded-md bg-blue-500 hover:bg-blue-600"
  >
    Submit
  </button>
</form>
