<!-- <div class="mb-2 mt-4 mx-4">
    <ion-select
      fill="outline"
      label="Select Field"
      label-placement="floating"
      formControlName="selectedField"
      interface="popover"
      (ionChange)="onSelectChange()"
    >
      @for (config of formConfig; track $index) {
      <ion-select-option [value]="config.value">
        {{ config.label }}
      </ion-select-option>
      }
    </ion-select>
  </div> -->

<ion-row>
  <form [formGroup]="formServiceService.form">
    <ion-row>
      <ng-container
        *ngFor="let field of formServiceService.fields; let i = index"
      >
        <!-- input -->
        <ion-col
          *ngIf="field.type === 'input'"
          [size]="field.size ?? 12"
          class="my-2"
        >
          <ion-item>
            <ion-input
              fill="outline"
              [type]="field.inputType || 'text'"
              [placeholder]="field.label"
              labelPlacement="floating"
              color="secondary"
              [formControlName]="field.name"
              [required]="field.required ?? false"
            >
              <ion-label slot="label">
                {{ field.label }}
                <ion-text color="danger">*</ion-text>
              </ion-label>
            </ion-input>
            <div
              *ngIf="
                formServiceService.form.get(field.name)?.hasError('required') &&
                formServiceService.form.get(field.name)?.touched
              "
            >
              <ion-text color="danger">{{
                field.message || field.label + " is required!!!"
              }}</ion-text>
            </div>
          </ion-item>
        </ion-col>

        <!-- dropdown -->
        <ion-col
          *ngIf="field.type === 'dropdown'"
          [size]="field.size ?? 12"
          class="my-2"
        >
          <ion-item>
            <ion-select
              fill="outline"
              label="{{ field.label }}"
              label-placement="floating"
              [formControlName]="field.name"
              interface="popover"
              [required]="field.required ?? false"
              (ionChange)="formServiceService.handleChange($event, field, i)"
            >
              <ion-select-option
                *ngFor="let option of field.options"
                [value]="option"
              >
                {{ option }}
              </ion-select-option>
            </ion-select>
            <div
              *ngIf="
                formServiceService.form.get(field.name)?.hasError('required') &&
                formServiceService.form.get(field.name)?.touched
              "
            >
              <ion-text color="danger">{{
                field.message || field.label + " is required!!!"
              }}</ion-text>
            </div>
          </ion-item>
        </ion-col>

        <!-- radio -->
        <ion-col
          *ngIf="field.type === 'radio'"
          [size]="field.size ?? 12"
          class="my-2"
        >
          <ion-item>
            <ion-row>
              <ion-col size="12">
                <ion-label class="font-bold">{{ field.label }}</ion-label>
              </ion-col>
              <ion-radio-group
                [formControlName]="field.name"
                (ionChange)="formServiceService.handleChange($event, field, i)"
              >
                <div class="w-full flex gap-2 flex-col">
                  <div
                    class="flex gap-2 my-2"
                    *ngFor="let option of field.options"
                  >
                    <ion-radio [value]="option"></ion-radio>
                    <ion-label>{{ option }}</ion-label>
                  </div>
                </div>
              </ion-radio-group>
              <div
                *ngIf="
                  formServiceService.form
                    .get(field.name)
                    ?.hasError('required') &&
                  formServiceService.form.get(field.name)?.touched
                "
              >
                <ion-text color="danger">{{
                  field.message || field.label + " is required!!!"
                }}</ion-text>
              </div>
            </ion-row>
          </ion-item>
        </ion-col>

        <!-- toggle -->
        <ion-col
          *ngIf="field.type === 'toggle'"
          [size]="field.size ?? 12"
          class="my-2"
        >
          <ion-item>
            <ion-label>{{ field.label }}</ion-label>
            <ion-toggle
              [formControlName]="field.name"
              [checked]="
                formServiceService.form.get(field.name)?.value ?? false
              "
              (ionChange)="formServiceService.handleChange($event, field, i)"
            ></ion-toggle>
            <div
              *ngIf="
                formServiceService.form.get(field.name)?.hasError('required') &&
                formServiceService.form.get(field.name)?.touched
              "
            >
              <ion-text color="danger">{{
                field.message || field.label + " is required!!!"
              }}</ion-text>
            </div>
          </ion-item>
        </ion-col>

        <!-- condition -->
        <ng-container
          *ngIf="
            field.condition &&
            formServiceService.form.get(field.condition.fieldName)?.value ===
              field.condition.value
          "
        >
          <ng-container
            *ngFor="let condField of field.condition.fields; let j = index"
          >
            <!-- input -->
            <ion-col
              *ngIf="condField.type === 'input'"
              [size]="condField.size ?? 12"
              class="my-2"
            >
              <ion-item>
                <ion-input
                  fill="outline"
                  [type]="condField.inputType || 'text'"
                  [placeholder]="condField.label"
                  labelPlacement="floating"
                  color="secondary"
                  [formControlName]="condField.name"
                  [required]="condField.required ?? false"
                >
                  <ion-label slot="label">
                    {{ condField.label }}
                    <ion-text color="danger">*</ion-text>
                  </ion-label>
                </ion-input>
                <div
                  *ngIf="
                    formServiceService.form
                      .get(condField.name)
                      ?.hasError('required') &&
                    formServiceService.form.get(condField.name)?.touched
                  "
                >
                  <ion-text color="danger">{{
                    condField.message ||
                      condField.label +
                        " is
                    required!!!"
                  }}</ion-text>
                </div>
              </ion-item>
            </ion-col>

            <!-- dropdown -->
            <ion-col
              *ngIf="condField.type === 'dropdown'"
              [size]="condField.size ?? 12"
              class="my-2"
            >
              <ion-item>
                <ion-select
                  fill="outline"
                  label="{{ condField.label }}"
                  label-placement="floating"
                  [formControlName]="condField.name"
                  interface="popover"
                  [required]="condField.required ?? false"
                >
                  <ion-select-option
                    *ngFor="let option of condField.options"
                    [value]="option"
                  >
                    {{ option }}
                  </ion-select-option>
                </ion-select>
                <div
                  *ngIf="
                    formServiceService.form
                      .get(condField.name)
                      ?.hasError('required') &&
                    formServiceService.form.get(condField.name)?.touched
                  "
                >
                  <ion-text color="danger">{{
                    condField.message ||
                      condField.label +
                        " is
                    required!!!"
                  }}</ion-text>
                </div>
              </ion-item>
            </ion-col>

            <!-- radio -->
            <ion-col
              *ngIf="condField.type === 'radio'"
              [size]="condField.size ?? 12"
              class="my-2"
            >
              <ion-item>
                <ion-row>
                  <ion-col size="12">
                    <ion-label class="font-bold">{{
                      condField.label
                    }}</ion-label>
                  </ion-col>
                  <ion-radio-group [formControlName]="condField.name">
                    <div class="w-full flex gap-2 flex-col">
                      <div
                        class="flex gap-2 my-2"
                        *ngFor="let option of condField.options"
                      >
                        <ion-radio [value]="option"></ion-radio>
                        <ion-label>{{ option }}</ion-label>
                      </div>
                    </div>
                  </ion-radio-group>
                  <div
                    *ngIf="
                      formServiceService.form
                        .get(condField.name)
                        ?.hasError('required') &&
                      formServiceService.form.get(condField.name)?.touched
                    "
                  >
                    <ion-text color="danger">{{
                      condField.message ||
                        condField.label +
                          " is
                      required!!!"
                    }}</ion-text>
                  </div>
                </ion-row>
              </ion-item>
            </ion-col>

            <!-- toggle -->
            <ion-col
              *ngIf="condField.type === 'toggle'"
              [size]="field.size ?? 12"
              class="my-2"
            >
              <ion-item>
                <ion-label>{{ field.label }}</ion-label>
                <ion-toggle
                  [formControlName]="condField.name"
                  [checked]="formServiceService.form.get(condField.name)?.value"
                ></ion-toggle>
                <div
                  *ngIf="
                    formServiceService.form
                      .get(condField.name)
                      ?.hasError('required') &&
                    formServiceService.form.get(condField.name)?.touched
                  "
                >
                  <ion-text color="danger">{{
                    condField.message ||
                      condField.label +
                        " is
                    required!!!"
                  }}</ion-text>
                </div>
              </ion-item>
            </ion-col>
          </ng-container>
        </ng-container>
      </ng-container>
    </ion-row>
  </form>
</ion-row>
